@import "Ui.scss";
@import "custom.scss";



header {
    overflow:hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    img{
        padding-top: 5%;
        padding-left: 5%;
        width: 40%;
    }
        
    
  
  }

  main{
      position: relative;
      width: 100%;
      height: auto;
      h1{
          padding-top: 8%;
          margin-right: 0%;
          font-size: 100%;
          text-align: end;

          font-family: $fontPrincipalbold;
          color: $colorPrimary;

      }
      section{
        margin-top: 30%;
        margin-left: auto;
              margin-right: auto;
              display: flex;
              flex-direction: column;
          article{
              width: 100%;
              text-align: center;
              div{
                  height: 23em;
                  width: 100%;
                  background-color: yellow;
                  margin-left: auto;
              margin-right: auto;
              border-radius: 50%;
              background-image: url("../Sample_Photos/Mimi/Portrait_Nora.jpg");
              background-position: 50% 40%;
              background-size: 160%;

              }
              h2{
                  margin-top: 5%;
                  margin-bottom: 0%;
                  font-family: $fontPrincipalSmall;
                  font-size: 3em;
                  color: $colorPrimary;

              }
              h3{
                  margin-top: 0%;
                  margin-bottom: 0%;
                  font-size: 1.3em;
                  color: $colorPrimary;
                  font-family: $fontPrincipalSmall;
              }
              h4{
                margin-bottom: 0%;

                margin-top: 0%;
                font-size: 0.9em;
                color: black;
                font-family: $fontPrincipalSmall;

              }
              p{

                margin-bottom: 0%;

                margin-top: 0%;
                font-size: 1.0em;
                color: grey;
                font-family: $fontPrincipalSmall;

              }
              nav{
                  ul{
                      justify-content: center;
                      display: flex;
                  }
              }


          }
      }

      
  }
