@font-face {
  font-family: 'DMSans';
  src: url("DM_Sans/DMSans-Medium.ttf");
}

@font-face {
  font-family: 'DMSansSmall';
  src: url("DM_Sans/DMSans-Regular.ttf");
}

@media (max-width: 450px) {
  img {
    margin-top: 10%;
    margin-left: 5%;
    width: 50%;
  }
  body {
    width: 100%;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #corpsPrincipale {
    display: block;
  }
  #corpsPrincipale h1 {
    margin-right: 30%;
    margin-left: 3%;
    font-family: "DMSansSmall";
    color: #cd563f;
    font-size: 6ex;
    margin-bottom: 0px;
  }
  #corpsPrincipale h2 {
    margin-top: 0px;
    margin-left: 3%;
    font-family: "DMSansSmall";
    color: #901C1C;
    font-size: 2.5ex;
    margin-bottom: 1ex;
  }
  #corpsPrincipale h3 {
    margin-top: 0px;
    margin-left: 3%;
    font-family: "DMSansSmall";
    color: grey;
    font-size: 2ex;
  }
  #corpsPrincipale #photoProfil {
    top: 15ex;
    right: 1ex;
    position: absolute;
    width: 15ex;
    height: 15ex;
    background-image: url("../assets/Sample_Photos/profils/MimiKeel.jpg");
    background-position: center;
    background-size: 27ex;
    border-radius: 100%;
  }
  #corpsPrincipale ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
  }
  #corpsPrincipale ul li {
    font-size: 2ex;
    list-style-type: none;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 30px;
    margin-right: 2%;
    font-family: "DMSans";
    color: #901C1C;
  }
  #corpsPrincipale ul li p {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 5px;
    margin-left: 5px;
  }
  #corpsPrincipale nav {
    display: none;
  }
  #corpsPrincipale article {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  #corpsPrincipale article .image {
    position: relative;
    border-radius: 20px;
    width: 100%;
    height: 40ex;
    border-radius: 10%;
    background-position: 50% 40%;
    background-size: 160%;
    overflow: hidden;
  }
  #corpsPrincipale article video {
    position: absolute;
    height: 100%;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    border-radius: 20px;
    width: 100%;
    border-radius: 10%;
  }
  #corpsPrincipale article .TitreEtLikes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #corpsPrincipale article .TitreEtLikes p {
    color: #901C1C;
    font-family: "DMSansSmall";
    font-size: 19px;
  }
  #corpsPrincipale article .TitreEtLikes div {
    color: #901C1C;
    font-family: "DMSansSmall";
    font-size: 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #corpsPrincipale article .TitreEtLikes div img {
    margin-bottom: 5px;
    width: 16px;
  }
  #corpsPrincipale #btn-ContactezMoi {
    position: fixed;
    bottom: 5%;
    left: 33%;
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
    height: 5ex;
    width: 20ex;
    background-color: #901C1C;
    border-radius: 10px;
  }
  #corpsPrincipale #btn-ContactezMoi p {
    color: blanchedalmond;
    font-family: "DMSans";
    padding-left: 2.0ex;
    font-size: 2.2ex;
    margin-top: 1ex;
  }
  #corpsPrincipale #compteur_likes_total {
    display: none;
  }
  #lightBox {
    margin-top: 17ex;
    height: 50ex;
    width: 100%;
    z-index: 2;
    display: none;
  }
  #lightBox #closeLogo {
    position: absolute;
    width: 40px;
    top: -5ex;
    right: 0px;
  }
  #lightBox #media #back {
    position: absolute;
    width: 30px;
    top: 30ex;
  }
  #lightBox #media .photo {
    margin-top: 10ex;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5%;
    width: 90%;
    height: 60ex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    overflow: hidden;
  }
  #lightBox #media .photo video {
    margin-top: 40%;
    width: 100%;
  }
  #lightBox #media #next {
    position: absolute;
    width: 30px;
    top: 30ex;
    right: 0px;
    bottom: auto;
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  #formulaire {
    display: none;
    background-color: #D3573C;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 5ex;
  }
  #formulaire img {
    position: absolute;
    right: 3ex;
    color: whitesmoke;
    top: 0ex;
    width: 3ex;
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  #formulaire h3 {
    margin-left: 2ex;
    font-family: "DMSans";
    font-size: xx-large;
  }
  #formulaire form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #formulaire form label {
    font-size: 20px;
    font-family: "DMSansSmall";
    margin-left: 2ex;
  }
  #formulaire form input {
    width: 90%;
    height: 6ex;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    border-width: 0px;
  }
  #formulaire form textarea {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    font-size: 20px;
    border-width: 0px;
  }
  #formulaire form button {
    margin-top: 10ex;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    background-color: #901C1C;
    border-radius: 5px;
    border-width: 0px;
    margin-bottom: 10ex;
    padding-top: 1ex;
    padding-bottom: 1ex;
  }
  #formulaire form button p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "DMSans";
    font-size: 20px;
    color: cornsilk;
  }
}

@media (min-width: 450px) {
  a {
    text-decoration: none;
    color: inherit;
  }
  body {
    position: relative;
    font-family: "DMSansSmall";
    margin-left: auto;
    margin-right: auto;
    max-width: 1324px;
    min-width: 1249px;
  }
  body #corpsPrincipale {
    display: block;
  }
  body #corpsPrincipale header {
    margin-bottom: 2%;
  }
  body #corpsPrincipale header img {
    margin-top: 2%;
    margin-left: 5%;
    width: 15%;
  }
  body #corpsPrincipale #vignettePhotographe {
    position: relative;
    width: 100%;
    background-color: 1;
  }
  body #corpsPrincipale #vignettePhotographe h1,
  body #corpsPrincipale #vignettePhotographe h2,
  body #corpsPrincipale #vignettePhotographe h3,
  body #corpsPrincipale #vignettePhotographe ul {
    font-family: "DMSansSmall";
    padding-left: 5%;
  }
  body #corpsPrincipale #vignettePhotographe h1 {
    padding-top: 5%;
    font-size: 5ex;
    color: #cd563f;
    font-family: "DMSansSmall";
    width: 40%;
  }
  body #corpsPrincipale #vignettePhotographe h2 {
    color: #901C1C;
    font-size: 3ex;
  }
  body #corpsPrincipale #vignettePhotographe h3 {
    color: grey;
    font-size: 2ex;
  }
  body #corpsPrincipale #vignettePhotographe ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body #corpsPrincipale #vignettePhotographe ul li {
    font-size: 2ex;
    list-style-type: none;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 30px;
    margin-right: 2%;
    font-family: "DMSans";
    color: #901C1C;
  }
  body #corpsPrincipale #vignettePhotographe ul li p {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 5px;
    margin-left: 5px;
  }
  body #corpsPrincipale #vignettePhotographe #photoProfil {
    position: absolute;
    width: 30ex;
    height: 30ex;
    background-color: aqua;
    right: 10%;
    top: 5%;
    border-radius: 50%;
    background-size: cover;
  }
  body #corpsPrincipale #vignettePhotographe #btn-ContactezMoi {
    top: 30%;
    left: 45%;
    position: absolute;
    padding: 0 2ex 0 2ex;
    background-color: #901C1C;
    border-radius: 5px;
    border-width: 0;
    font-size: inherit;
  }
  body #corpsPrincipale #vignettePhotographe #btn-ContactezMoi p {
    font-family: "DMSansSmall";
    font-size: 2ex;
    color: beige;
  }
  body #corpsPrincipale #myNavigator {
    position: relative;
    overflow: hidden;
  }
  body #corpsPrincipale #myNavigator #navigator {
    font-size: 1.5em;
    margin-left: 5%;
  }
  body #corpsPrincipale #myNavigator #navigator select {
    border-radius: 0.3rem;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    font-size: 1em;
    background: #901C1C;
    border: none;
    color: white;
    padding: 15px 3.3rem 15px 2.5rem;
    margin-left: 3%;
  }
  body #corpsPrincipale #myNavigator #navigator select option {
    font-size: 1.5em;
  }
  body #corpsPrincipale #myNavigator #navigator #chevronIcon {
    position: absolute;
    top: 30%;
    left: 28.5%;
    background-color: #901C1C;
  }
  body #corpsPrincipale #myNavigator #navigator #chevronIcon img {
    -webkit-filter: invert(1);
            filter: invert(1);
    width: 1rem;
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
  body #corpsPrincipale #lesVignettes {
    margin-top: 5%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body #corpsPrincipale #lesVignettes article {
    margin-right: 5%;
  }
  body #corpsPrincipale #lesVignettes article .image {
    position: relative;
    width: 40ex;
    height: 40ex;
    border-radius: 5%;
    background-size: cover;
    overflow: hidden;
  }
  body #corpsPrincipale #lesVignettes article .image video {
    position: absolute;
    height: 100%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  body #corpsPrincipale #lesVignettes article .TitreEtLikes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    font-size: 2.5ex;
    color: #901C1C;
    font-family: "DMSansSmall";
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body #corpsPrincipale #lesVignettes article .TitreEtLikes div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  body #corpsPrincipale #lesVignettes article .TitreEtLikes div button {
    border-width: 0;
    background-color: transparent;
  }
  body #corpsPrincipale #lesVignettes article .TitreEtLikes div p {
    margin-right: 20%;
  }
  body #corpsPrincipale #compteur_likes_total {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 0%;
    right: 10%;
    width: 20%;
    max-width: 40ex;
    background-color: #cd563f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body #corpsPrincipale #compteur_likes_total img {
    position: absolute;
    width: 20px;
    margin-left: 3%;
    margin-right: 30%;
    top: 30%;
    left: 33%;
  }
  body #corpsPrincipale #compteur_likes_total p {
    text-align: justify;
    margin-left: 10%;
    margin-right: 0%;
  }
  body #lightBox {
    display: none;
    position: relative;
    padding-top: 3%;
  }
  body #lightBox #closeLogo {
    border-width: 0;
    background-color: transparent;
    position: absolute;
    width: 3%;
    color: #901C1C;
    right: 0px;
    margin-right: 3%;
  }
  body #lightBox #media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100ex;
  }
  body #lightBox #media button {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5%;
    border-width: 0;
    background-color: transparent;
  }
  body #lightBox #media button img {
    width: 5ex;
  }
  body #lightBox #media .photo {
    position: relative;
    background-image: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 90%;
    -webkit-box-shadow: 5px 5px 10px grey;
            box-shadow: 5px 5px 10px grey;
    overflow: hidden;
  }
  body #lightBox #media .photo video {
    position: absolute;
    position: center;
  }
  body #lightBox #media #next {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
  }
  body #lightBox #media #next img {
    width: 5ex;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  body #formulaire {
    z-index: 5;
    display: none;
    position: fixed;
    top: 0%;
    width: 30%;
    height: 70%;
    margin-left: 28%;
    margin-top: 5%;
    background-color: #cd563f;
    padding: 5%;
    font-family: "DMSansSmall";
    color: #312E2E;
    border-radius: 10px;
  }
  body #formulaire a {
    position: absolute;
    right: 10%;
  }
  body #formulaire a img {
    width: 3ex;
  }
  body #formulaire h3 {
    color: black;
    font-size: 5ex;
    margin-bottom: 0%;
  }
  body #formulaire p {
    color: black;
    margin-top: 0%;
    font-size: 4ex;
  }
  body #formulaire label {
    font-size: 3ex;
  }
  body #formulaire input {
    width: 100%;
    height: 5ex;
    border-style: none;
    border-radius: 5px;
  }
  body #formulaire textarea {
    border-style: none;
    border-radius: 5px;
  }
  body #formulaire div {
    display: none;
    color: white;
    font-size: 12px;
  }
  body #formulaire #envoyer {
    margin-top: 7%;
    margin-left: 10%;
    background-color: #901C1C;
    border-style: none;
    border-radius: 5px;
    width: 50%;
    font-size: 3ex;
    color: snow;
  }
}
/*# sourceMappingURL=stylePhotographe.css.map */